<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&amp;display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/destyle.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="body-wrapper">
        <div class="sidebar-container">
            <a href="#" class="logo">HAYABUSA</a>
            <a href="./dashboard.html">ダッシュボード</a>
            <a href="./usermenu.html">アカウント</a>
            <a href="./survey_list.html" class="active">アンケート</a>
            <a href="./customer_list.html">顧客</a>
            <p class="sidebar-Inc">Atmark Solution Inc.</p>
        </div>
        <div class="right-wrapper">
            <input type="checkbox" id="user-menu" class="user-menu-btn">
            <header class="header-container">

                <div class="header-contents">
                    <div>株式会社アットマーク・ソリューション</div>
                    <label for="user-menu">大阪 大朗</label>
                </div>
                <div class="user-menu-container">
                    <a href="#">
                        ヘルプ

                    </a>
                    <a href="#">
                        お問い合わせ

                    </a>
                    <a href="#">
                        ログアウト
                    </a>

                </div>
            </header>

            <div class="contents-wrapper">
                <div class="content-info">
                    <div class="content-info-title">
                        お知らせ
                    </div>
                    <div class="content-info-datas">
                        <div class="data">
                            2020/11/28 AM 1:00 〜 AM 5:00はサーバメンテナンスのため本サービスを利用できません。
                        </div>
                        <div class="data">
                            2020/11/28 AM 1:00 〜 AM 5:00はサーバメンテナンスのため本サービスを利用できません。
                        </div>
                        <div class="data">
                            2020/11/28 AM 1:00 〜 AM 5:00はサーバメンテナンスのため本サービスを利用できません。
                        </div>
                    </div>
                </div>
                <div class="survey-wrapper">
                    <div class="survey-regist-title">
                        <a href="./survey_list.html" class="font-pink">
                            < アンケート一覧へ戻る</a> <h1>
                                アンケート一覧
                                </h1>
                                <a href="./survey_delete.html" style="color:#F55AAD; text-align:right">アンケートを削除</a>
                    </div>
                    <div class="function survey-function">
                        <div class="function-container survey-function-container ">
                            <div class="survey-function-title">
                                アンケートを編集
                            </div>
                            <a class="survey-function-btn">
                                確認する
                            </a>
                        </div>
                        <div class="function-container survey-function-container survey-active">
                            <div class="survey-function-title">
                                アンケートを登録
                            </div>
                            <a class="survey-function-btn">
                                登録する
                            </a>
                        </div>
                        <div class="function-container survey-function-container">
                            <div class="survey-function-title">
                                アンケートを分析
                            </div>
                            <a class="survey-function-btn">
                                分析する
                            </a>
                        </div>
                        <div class="function-container survey-function-container">
                            <div class="survey-function-title">
                                回答を確認
                            </div>
                            <a href="./answer_all_list.html" class="survey-function-btn">
                                閱覽する
                            </a>
                        </div>
                    </div>
                    <div class="survey-list-regist">
                        <div class="regist-row">
                            <div class="regist-row-title">
                                <div class="regist-title">
                                    継承元アンケート
                                </div>
                                <div class="regist-subtitle">
                                    作成済みテンプレートから引用をする場合のみ選択
                                </div>
                            </div>
                            <div class="regist-row-select">
                                <select>
                                    <option></option>
                                </select>
                                <div class="dropdownlist-arrow">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20">
                                        <g id="コンポーネント_1_1" data-name="コンポーネント 1 – 1" transform="translate(0 5)">
                                            <path id="多角形_10" data-name="多角形 10" d="M9,0l9,15H0Z"
                                                transform="translate(18 15) rotate(180)" fill="rgba(212,127,166,40%)" />
                                        </g>
                                        <path id="多角形_11" data-name="多角形 11" d="M9,0l9,15H0Z"
                                            transform="translate(18 15) rotate(180)" fill="#fff" />
                                    </svg>

                                </div>

                            </div>

                        </div>
                        <div class="regist-row">
                            <div class="regist-row-title">
                                <div class="regist-title">
                                    タイトル
                                </div>
                                <div class="regist-subtitle font-pink">
                                    *必須
                                </div>
                            </div>
                            <input type="text" class="" placeholder="担当者の接客態度は？">
                        </div>
                        <div class="regist-row">
                            <div class="regist-row-title">
                                <div class="regist-title">
                                    説明
                                </div>
                            </div>
                            <textarea style="line-height: 1.5;padding: 15px 30px 15px 15px;">このアンケートは、アットマークサロンの顧客満足度アンケートです。
                        
アンケートにお答えを頂いた内容は、当社の規約に則り厳正に取り扱うこととし、顧客満足度の向上、並びにキャンペーン情報の発信などに利用をさせて頂きます。</textarea>
                        </div>
                        <div class="regist-row">
                            <div class="regist-row-title">
                                <div class="regist-title">
                                    質問内容
                                </div>
                                <div class="regist-subtitle font-pink">
                                    *必須
                                </div>
                            </div>
                            <div>
                                <div class="regist-question">
                                    <div class="regist-question-num">Q1.</div>
                                    <input type="text" class="" placeholder="担当者の接客態度は？">
                                    <div class="regist-row-select">
                                        <select class="edit" style="color:rgb(112, 112, 112, 40%)">
                                            <option value="" disabled selected>選択式</option> 
                                        </select> <div class="dropdownlist-arrow">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20"
                                                    viewBox="0 0 18 20">
                                                    <g id="コンポーネント_1_1" data-name="コンポーネント 1 – 1"
                                                        transform="translate(0 5)">
                                                        <path id="多角形_10" data-name="多角形 10" d="M9,0l9,15H0Z"
                                                            transform="translate(18 15) rotate(180)"
                                                            fill="rgba(212,127,166,40%)" />
                                                    </g>
                                                    <path id="多角形_11" data-name="多角形 11" d="M9,0l9,15H0Z"
                                                        transform="translate(18 15) rotate(180)" fill="#fff" />
                                                </svg>
                                    </div>
                                </div>
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14.121" height="14.121"
                                        viewBox="0 0 14.121 14.121">
                                        <g id="グループ_87" data-name="グループ 87" transform="translate(-1057.439 -764.439)">
                                            <line id="線_64" data-name="線 64" x2="12" y2="12"
                                                transform="translate(1058.5 765.5)" fill="none"
                                                stroke="rgba(112,112,112,40%)" stroke-width="3" />
                                            <line id="線_65" data-name="線 65" x2="12" y2="12"
                                                transform="translate(1070.5 765.5) rotate(90)" fill="none"
                                                stroke="rgba(112,112,112,40%)" stroke-width="3" />
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="regist-question">
                                <div class="regist-question-num">Q2.</div>
                                <input type="text" class="" placeholder="担当者の接客態度は？">
                                <div class="regist-row-select">
                                    <select style="color:rgb(112, 112, 112, 40%)">
                                        <option value="" disabled selected>自由入力</option>
                                    </select>
                                    <div class="dropdownlist-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20"
                                            viewBox="0 0 18 20">
                                            <g id="コンポーネント_1_1" data-name="コンポーネント 1 – 1" transform="translate(0 5)">
                                                <path id="多角形_10" data-name="多角形 10" d="M9,0l9,15H0Z"
                                                    transform="translate(18 15) rotate(180)" fill="rgba(212,127,166,40%)" />
                                            </g>
                                            <path id="多角形_11" data-name="多角形 11" d="M9,0l9,15H0Z"
                                                transform="translate(18 15) rotate(180)" fill="#fff" />
                                        </svg>
                                    </div>
                                </div>
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14.121" height="14.121"
                                        viewBox="0 0 14.121 14.121">
                                        <g id="グループ_87" data-name="グループ 87" transform="translate(-1057.439 -764.439)">
                                            <line id="線_64" data-name="線 64" x2="12" y2="12"
                                                transform="translate(1058.5 765.5)" fill="none"
                                                stroke="rgba(112,112,112,40%)" stroke-width="3" />
                                            <line id="線_65" data-name="線 65" x2="12" y2="12"
                                                transform="translate(1070.5 765.5) rotate(90)" fill="none"
                                                stroke="rgba(112,112,112,40%)" stroke-width="3" />
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="regist-question">
                                <div
                                    style="border: 1px solid  rgb(112, 112, 112, 40%);
                            border-radius: 5px; width: 30px; height: 30px; display: flex;justify-content: center; align-items: center;">
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19.971" height="19.971"
                                            viewBox="0 0 19.971 19.971">
                                            <g id="グループ_89" data-name="グループ 89"
                                                transform="translate(-197.197 -1288.263) rotate(45)">
                                                <line id="線_64" data-name="線 64" x2="12" y2="12"
                                                    transform="translate(1058.5 765.5)" fill="none"
                                                    stroke="rgba(112,112,112,40%)" stroke-width="3" />
                                                <line id="線_65" data-name="線 65" x2="12" y2="12"
                                                    transform="translate(1070.5 765.5) rotate(90)" fill="none"
                                                    stroke="rgba(112,112,112,40%)" stroke-width="3" />
                                            </g>
                                        </svg>
                                    </button></div>
                            </div>

                        </div>


                    </div>
                    <div class="regist-row">
                        <div class="regist-row-title">
                            <div class="regist-title">
                                Line@
                            </div>
                        </div>
                        <input type="text" class="">
                    </div>
                    <div class="regist-row">
                        <div class="regist-row-title">
                            <div class="regist-title">
                                Youtube
                            </div>
                        </div>
                        <input type="text" class="">
                    </div>
                    <div class="regist-row">
                        <div class="regist-row-title">
                            <div class="regist-title">
                                エキテン
                            </div>
                        </div>
                        <input type="text" class="">
                    </div>
                    <div class="regist-row">
                        <div class="regist-row-title">
                            <div class="regist-title">
                                Google My Bussiness
                            </div>
                        </div>
                        <input type="text" class="">
                    </div>
                    <div class="regist-row">
                        <div class="regist-row-title">
                            <div class="regist-title">
                                e-Park
                            </div>
                        </div>
                        <input type="text" class="">
                    </div>
                    <div class="regist-row">
                        <div class="regist-row-title">
                            <div class="regist-title">
                                サンキューメッセージ
                            </div>
                        </div>
                        <textarea>アンケートへのご回答、ありがとうございました。
LINE＠、Instagram等もやっておりますのでよろしければそちらも、フォローをお願い致します！</textarea>
                    </div>
                    <a href="#" class="edit-btn">編集</a>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>