<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&amp;display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/destyle.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    
    
</head>
<body >     
    <div class="wrapper">
        <header>
            <div class="logo-container"> 
                <img width="100%" src="header-logo.png">
            </div>   
        </header>
        <div class="password-reminder-container">
            <h1>アンケートタイトル</h1>
            <p>回答用パスワードを入力してください</p>
            <form class="password-reminder-form">
                <label>
                    回答用パスワード
                </label>
                <input type="text" placeholder="回答用パスワードを入力"/>
                
                <input type="submit" value="送信"></input>
            </form>
        </div>  
    </div> 
    <footer class="footer-wrapper">
        <div class="footer-container">
            <div class="footer-links">
                <a href="#">会社概要</a>
                <a href="#">プライバシポリシー</a>
                <a href="#">利用規約</a>
                <a href="#">FAQ</a>
                <a href="#">お問い合わせ</a>
            </div>
            <div>
                <p class="footer-company">Atmark Solution Inc.</p>
            </div>
        </div>
    </footer> 
</body>


</html>