<!DOCTYPE html>
<html lang="JP">

<head>
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&amp;display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/destyle.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="body-wrapper">
        <div class="sidebar-container">
            <a href="#" class="logo">HAYABUSA</a>
            <a href="./dashboard.html" class="active">ダッシュボード</a>
            <a href="./usermenu.html">アカウント</a>
            <a href="./survey_list.html">アンケート</a>
            <a href="./customer_list.html">顧客</a>
            <p class="sidebar-Inc">Atmark Solution Inc.</p>
        </div>
        <div class="right-wrapper">
            <input type="checkbox" id="user-menu" class="user-menu-btn" >
            <header class="header-container">

                <div class="header-contents">
                    <div>株式会社アットマーク・ソリューション</div>
                    <label for="user-menu">大阪 大朗</label>
                </div>
                <div class="user-menu-container">
                    <a href="#">
                        ヘルプ
                       
                    </a>
                    <a href="#">
                        お問い合わせ
                      
                    </a>
                    <a href="/hayabusa/logout">
                        ログアウト
                    </a>

                </div>
            </header>
            <div class="contents-wrapper">
                <div class="content-info">
                    <div class="content-info-title">
                        お知らせ
                    </div>
                    <div class="content-info-datas">
                        <div class="data">
                            2020/11/28 AM 1:00 〜 AM 5:00はサーバメンテナンスのため本サービスを利用できません。
                        </div>
                        <div class="data">
                            2020/11/28 AM 1:00 〜 AM 5:00はサーバメンテナンスのため本サービスを利用できません。
                        </div>
                        <div class="data">
                            2020/11/28 AM 1:00 〜 AM 5:00はサーバメンテナンスのため本サービスを利用できません。
                        </div>
                    </div>
                </div>
                <div class="content-analyze">
                    <div class="analyze-total">
                        <div>
                            <div class="category-title">
                                アンケート数
                            </div>
                            <div class="number-container">
                                <span class="number">
                                    2
                                </span>
                                件
                            </div>
                        </div>
                        <div>
                            <div class="category-title">
                                回答数の合計
                            </div>
                            <div class="number-container">
                                <span class="number">
                                    20
                                </span>
                                件
                            </div>
                        </div>
                        <div>
                            <div class="category-title">
                                顧客数
                            </div>
                            <div class="number-container">
                                <span class="number">
                                    120
                                </span>
                                人
                            </div>
                        </div>
                    </div>
                    <div class="analyze-chart">
                        <div class="analyze-time-title">
                            <div>
                                回答数（週間）
                            </div>
                            <a>
                                詳細を確認
                            </a>
                        </div>
                        <div class="chart">

                            <div class="bar-container">
                                <div class="result-bg" data-date="11/5" data-count="7">
                                    <div class="bar-color">
                                    </div>
                                </div>
                                <div class="result-bg" data-date="11/6" data-count="18">
                                    <div class="bar-color">
                                    </div>
                                </div>
                                <div class="result-bg" data-date="11/7" data-count="12">
                                    <div class="bar-color">
                                    </div>
                                </div>
                                <div class="result-bg" data-date="11/8" data-count="26">
                                    <div class="bar-color bar-purple">
                                    </div>
                                </div>
                                <div class="result-bg" data-date="11/9" data-count="22">
                                    <div class="bar-color">
                                    </div>
                                </div>
                                <div class="result-bg" data-date="11/10" data-count="1">
                                    <div class="bar-color">
                                    </div>
                                </div>
                                <div class="result-bg" data-date="11/11" data-count="25">
                                    <div class="bar-color bar-greyStar">
                                    </div>
                                </div>
                            </div>

                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="analyze-time">
                        <div class="analyze-time-title">
                            <div>
                                時間帯（週間）
                            </div>
                            <a>
                                詳細を確認
                            </a>
                        </div>
                        <div class="analyze-time-btn">
                            <div class="row">
                                <button class="time-btn">

                                    <span class="time"> 
                                        05:00~06:00</span>
                                    <span class="count">
                                        0件
                                    </span>
                                </button>
                                <button class="time-btn"><span class="time">06:00~07:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                                <button class="time-btn"><span class="time">
                                        07:00~08:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                            </div>
                            <div class="row">
                                <button class="time-btn"><span class="time">
                                        08:00~09:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                                <button class="time-btn"><span class="time">
                                        09:00~10:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                                <button class="time-btn"><span class="time">
                                        10:00~11:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                            </div>
                            <div class="row">
                                <button class="time-btn select-purple"><span class="time">
                                        11:00~12:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                                <button class="time-btn"><span class="time"> 
                                        12:00~13:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                                <button class="time-btn"><span class="time">
                                        13:00~14:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                            </div>
                            <div class="row">
                                <button class="time-btn select-pink" >
                                    <span class="time">
                                        14:00~15:00
                                    </span>
                                    <span class="count">
                                        30件
                                    </span></button>
                                <button class="time-btn"><span class="time">
                                        15:00~16:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                                <button class="time-btn"><span class="time">
                                        17:00~18:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                            </div>
                            <div class="row">
                                <button class="time-btn"><span class="time">
                                        18:00~19:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                                <button class="time-btn"><span class="time">
                                        19:00~20:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                                <button class="time-btn select-purple"><span class="time">
                                        20:00~21:00
                                    </span>
                                    <span class="count">
                                        100件
                                    </span></button>
                            </div>
                            <div class="row">
                                <button class="time-btn select-pink">
                                    <span class="time">
                                        21:00~22:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                                <button class="time-btn"><span class="time">
                                        22:00~23:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                                <button class="time-btn"><span class="time">
                                        23:00~24:00
                                    </span>
                                    <span class="count">
                                        0件
                                    </span></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>


</html>